<div class="card">
    <div class="card-header">
        <strong>Filters</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="weapon">
                <label class="form-check-label" for="weapon">
                  Weapon
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="armor">
                <label class="form-check-label" for="armor">
                  Armor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="kit">
                <label class="form-check-label" for="kit">
                  Kit
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="supplies">
                <label class="form-check-label" for="supplies">
                  Supplies
                </label>
              </div>
            <br>
            <button class="btn btn-primary btn-block">Filter Items</button>
        </form>
    </div>
</div>